<ion-view view-title="Contact Us">
  <ion-content>
    <div class="card">
      <div class = "item item-divider">
         Location Information
      </div>
      <div class="item item-body item-text-wrap">
        <p>
          Our Address<br />
          121, Clear Water Bay Road<br />
          Clear Water Bay, Kowloon<br />
          HONG KONG<br />
          <i class="icon ion-android-call"></i>: +852 1234 5678<br />
          <i class="icon ion-printer"></i>: +852 8765 4321<br />
          <i class="icon ion-email"></i>: confusion@food.net<br />
        </p>
      </div>
      <div class="button-bar">
        <button class="button button-positive"><i class="icon ion-android-call"></i> Call</button>
        <button class="button button-calm"><i class="icon ion-social-skype"></i> Skype</button>
        <button class="button button-balanced"><i class="icon ion-email"></i> Email</button>
      </div>
    </div>
  </ion-content>
</ion-view>
